@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.content {
  width: 334px;
  height: 216px;
  background: #f0f0f0;
  border-radius: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}

/* Custom scrollbar styles for WebKit browsers */
.content::-webkit-scrollbar {
  width: 6px; /* Adjust scrollbar width */
}

.content::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* Color of the scrollbar thumb */
  border-radius: 3px; /* Make it rounded */
}

.content::-webkit-scrollbar-track {
  background: #f0f0f0; /* Color of the scrollbar track */
}

.wrapper {
  padding: 5px;
  width: 670px;
  height: 432px;
  transform: scale(0.5);
  transform-origin: top left;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

